{% load static%}
 <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark   sticky-top">
    <div class="container">
    	{% if user.is_authenticated %}
      		<a class="navbar-brand" href="{%url 'home' %}">
            <h2>
              <p style=" font-style: italic; font-family: cursive; ">Funny Ideas</p>
                </h2>
        {% else %}
     	 	<a class="navbar-brand" href="{%url 'home' %}">
          <h2>
            <p style=" font-style: italic; font-family: cursive;">Funny Ideas</p>
              </h2>
        {% endif %}
        <!--<img src="{%static 'img/logo1.png'%}" class="logo" alt="" style="height: 50px; width: 180px;">
        -->
        
      </a>
      <ul class="navbar-nav">
      
        <li 
          {%  if '/' == request.path %} 
            class="nav-item active ml-5"
          {%else%}
            class="nav-item ml-5"
          {%endif%}>
    
        <a class="nav-link" style="font-size: 20px;"  href="{%url 'home'%}">Home</a>
      </li>

       <li {% if 'debate' in request.path %}
          class="mr-2 active"
          {% else %}
          class="mr-3"
          {% endif %}>
          <a class="nav-link"  style="font-size: 20px;" href="{% url 'debate' %}">Debate</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item mr-3">
          <a class="nav-link " href="{% url 'profile' %}">
             {{user.first_name}}</a>
        </li>
        <li class="nav-item mr-3">
         <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}" style="text-decoration: none">		
           <i class="fas fa-sign-out-alt"></i>Logout
            <form action="{%url 'logout' %}" method="POST" id="logout">
                    {% csrf_token %}
                    <input type="hidden">
                  </form>
                </a>
          </li>
        {% else %}
        {% endif %}
        </div>
  </nav>