{% extends 'base.html' %}
{% load static%}
{% block content %}

<section id="profile">
	<div class="container">
		<div class="row">
			

<!--Anuj-->

			<div class="col-md-4 mx-5 ">
				<img class="rounded-circle pt-3" src="{% static 'img/Anuj.jpg'%}" style="max-width: 300px; min-width: 200px; max-height: 350px; min-height: 300px; ">
				
				</div>
				<div class="col-md-6 pt-5">
					<h3>Anuj Chaudhary</h3>
					<p><b>
						Web Developer<br>
						contact : s.singhanuj132@gmail.com

					</b></p>
				<h3>About Funny Ideas</h3>
				<hr>
				<div class="card border-0 bg-light">
					<p>I just made it in lockdown. Objective of this website is to see how many funny ideas are there
						and the imagination power of the people over the world, it also helps the other to get the idea of there own interest. </p>
				</div>
				</div>
		</div>
	</div>

</section>







{% endblock %}