{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
{% if user.is_authenticated %}
<section id='user'>
    <div class="conatiner-fluid ">
        <div class="row mx-auto">
<!--user column-->

            <div class="col-md-3 text-center bg-white">
                <div class="card-body ">
                    <center>
                        <!--User Profile image-->
                        <div class="user_img">
                        {% if profile.profile_photo %}
                        <img id="user_img" style="box-shadow: 4px 4px 20px 2px darkgray;" src="{{profile.profile_photo.url}}" class="rounded-circle image-responsive ">
                    </div>
                        {% else %}
                        <div class="user_img">
                        <img id="user_img" src="{% static 'img/profile.jpg' %}" class="rounded-circle image-responsive ">
                    </div>
                        {% endif %}
                    </center>
                    <br>
                    {%if user.is_authenticated %}
                    <h3 class="text-center">{{user.username}}</h3>
                    {% else %}
                    <h3 class="text-center">username</h3>
    
                    {%endif%}
                   {% block edit %} 
                <!-- Button to Open the Modal for upload post -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Post Your Idea
               </button>
               {% endblock %}
                </div>
    
            </div>
{% block middle %}
<!-- Post column-->
    
        <div class="col-md-7" >
            
                <div class="card-body bg-white">
                    {% for post in post %}
                    {% if post %}
                        <div class="container border-0"  style="box-shadow: 4px 4px 20px 2px darkgray;">
                            <h3>
                                {% if post.user == request.user %}
                                <div class="dropdown">
                                <button type="button" class="btn bg-white " data-toggle="dropdown" style="float:right;"><i class="fas fa-ellipsis-v " style="font-size: 20px;"></i></button>
                                    <div class="dropdown-menu">
                                        <a type="button" class="btn dropdown-item" href="{% url 'edit_post' pk=post.pk %}">edit</a>
                                        <a type="button" class="btn dropdown-item" href="{% url 'delete_post' pk=post.pk %}">Delete</a>
                                    </div>
                                </div>
                                {%else%}
                                {% endif %}
                                {% if post.user.profile.profile_photo %}
                                <img src="{{post.user.profile.profile_photo.url}}" id="user_img2" class="rounded-circle image-responsive">
                                {{post.heading}}
                                
                            </h3>
                                {% else %}
                                <img src="{% static 'img/profile.jpg' %}" id="user_img2" class="rounded-circle image-responsive">
                                {{post.heading}}
                            </h3>
                                {% endif %}
                               
                            <p>{{post.content|urlize}}
                            </p>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6>by <a href="{% url 'profile_with_pk' pk=post.user.pk %}" >{{post.user.first_name}} {{ post.user.last_name }}</a></h6>
                                </div>
                                <div class="col-sm-5">
                                    <div class="container">
                                        <a  href="{% url 'comment' pk=post.pk %}">View and Add comment</a>
                                    </div>
                                </div>
                            
                                <div class="col-sm-3">
                                    <h6> <code> {{post.date}}</code></h6>
                                </div>

                                
                            </div>
                            <div class="row">
                            <!--  <div class="col-sm-2">
                                    <div class="container">
                                        <a  href="{% url 'comment' pk=post.pk %}">Like</a>
                                    </div>
                                </div>-->
                                
                            </div>
                        </div>
                        {% endif %}
                        <br> 
                    {% endfor %}
                </div>
           
        </div>
{%  endblock %}
<!--Third update column-->
            <div class="col-md-2 pt-4 bg-white">
                    <h4>Updates coming soon</h4><hr>
                    <ul>
                        <li>mention user in comment</li>     
                    </ul>

                    <h4>Updates</h4><hr>
                    
                    <ul>
                        <li>View and add comments.</li>
                        <li>View and add reply.</li>
                        <li>can see your uploaded post on your profile</li>
                        <li>can see other profile</li>
                        <li>profile photo on post</li>

                    </ul>
                <h3> Feedback:</h3>
                
                <div class="card-body">
                    <div class="container">
            <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#feedback">
                            Feedback
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <!-- The Modal for Upload post-->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST" action="{% url 'home' %}">
<!--Form for Post Uloaded-->                    
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="heading">heading</label>
                        <input  name="heading" class="form-control" type="text" placeholder=" example playing card" required>
                    </div>
                    <div class="form-group">
                        <label for="content">Idea details</label>
                        <textarea  name="content"  class="form-control" rows="6" cols="80" required></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </form>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>
    
 <!-- The Modal for feeback-->
    <div class="modal" id="feedback">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal body -->
            <div class="modal-body">
<!--form for upload feedback-->
                <form method="POST" action="{% url 'feedback' %}">

                    {% csrf_token %}
                    <div class="form-group">
                        <label for="feedback">Valueable feedback</label>
                        <textarea  name="feedback"  class="form-control" rows="6" cols="80"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </form>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>

    
{%else%}
<div class="container pt-4">
    <div class="card bg-light border-0 pt-2">
    <div class="jumbtron pt-5 pb-5">
        <center>
            <div class="jumbotron" style="box-shadow:4px 4px 20px 2px darkgray;">
                <div class="container">
                    <h3>Funny Ideas </h3>
                    <p class="text-justify">Welcome, thanks to join. About this web just share your idea like if u have any short 
                        game idea which can be played with friend, if you have any suggestion related to education 
                        system and etc.
                        <b>If you have any creative idea for this Lockdown period then share with whole world.</b>
                        <br>No need to share any offensive idea or any negative idea. If you do Action will be taken.
                    </p>
                </div>
                <br>
            
        <h6 class=" font-weight-bold">
            <a href="{% provider_login_url "google" %}"  class="btn btn-danger btn-google"><i class="fab fa-google"></i> Login with Google</a>
          </h6>
        </div>
        </center>
    </div>
</div>
</div>
{% endif %}
{% endblock %}